/.idea/
/.cache/
/.config/
/.npm/
/.vagrant/
/.nyc_output/
.git/

/tmp/
/out/
/crashes/
/logs/
/doc/
/coverage/

.env
/.eslintcache
/node_modules

*.log
/backup/settings.sh
/storage/
/sha1.json
Vagrantfile
